<!DOCTYPE html>
<html>

		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
			<meta name="description" content="">

			<title>invius</title>

			<% styles.forEach( function ( file ) { %>
				<link href="/<%= file %>" rel="stylesheet" type="text/css"  />
            <% }); %>

            <link rel="stylesheet" type="text/css" href="/assets/css/invius.css" />

		</head>

		<body class="invius">
			<!--[if lt IE 9]>
					<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->

			<invius-header>	</invius-header>

			<div class="main-container">
				<section data-ng-view autoscroll="true" ng-animate></section>
			</div>

			<invius-footer></invius-footer>


			<!-- compiled JavaScript -->
			<% scripts.forEach( function ( file ) { %>
				<script src="/<%= file %>" type="text/javascript" charset="utf-8" ></script>
			<% }); %>
			<script type="text/javascript" charset="utf-8" src="/src/js/app.js"></script>

		</body>

</html>
